venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

build/
dist/
*.spec
*.log
*.log.*
*.log.*.*
*.log.*.*.*

*.googleusercontent.*.json
client_secret*.json
credentials*.json
secrets*.json
token.pickle
token.json
